<div class="container">
    <table class="table table-responsive table-striped">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Última Versión</th>
                <th>Lenguaje</th>
                <th>Fecha Actualización</th>
                <!-- <th>Repositorio</th> -->
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let fr of frameworksTable">
                <td>{{fr.framework_name}}</td>
                <td>{{fr.tag_name}}</td>
                <td>{{fr.language}}</td>
                <td>{{fr.published_at}}</td>
                <!-- <td><a [href]="fr.html_url" target="_blank">Ir</a></td> -->
            </tr>
        </tbody>
    </table>
</div>